@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Kavoon&family=Poppins&display=swap');

.cnt_main {
    position: relative;
    top: auto;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--body-bg), white);

}

.cnt_container {
    display: grid;
    grid-template-columns: 34% 67%;
    margin: auto;

}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 7rem;
    background-color: #ecf727;
    margin: 2rem 0rem 2rem 0;
    border-radius: 2rem;
    padding: 1rem;
}

.social_contact>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.social_contact>a:hover {
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    border: solid black 1px;

}

.inp {
    width: 18rem;
    height: 2rem;
    padding: 0 calc(3px+1vw) 0 0.4rem;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.message_box {
    height: 7rem;
    text-align: left;
    display: list-item;
    padding-top: 0.3rem;
    font-family: 'Kanit', sans-serif;
    resize: none;
}

.btn_submit {
    width: 18rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: red;
    background-image: none;
    color: white;

}